@model MissedPromotionsModel

@using Qixol.Plugin.Misc.Promo.Models.MissedPromotions;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Plugins.Misc.QixolPromo.MissedPromotions.PageTitle").Text);

    Html.AddScriptParts(ResourceLocation.Head, "~/Plugins/Misc.QixolPromo/Scripts/promo.ajaxcart.js");

}

<div class="page missed-promotions-page">
    @* TODO: css based on shopping-cart-page *@
    <div class="page-title">
        <h1>@T("Plugins.Misc.QixolPromo.MissedPromotions.PageTitle")</h1>
    </div>
    <div class="page-body">
        @Html.Partial("MissedPromotionsSummary", Model)
    </div>
</div>
<script>
    $(document).ready(function () {
        promoAjaxCart.init();
    });
</script>